.NatsAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px 50px 0 50px;
  padding: 0 50px 0 50px;
}

.formNatsAdd {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  min-height: 300px;
  /* flex-wrap': wrap; */
}

.inputDivNatsAdd {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  margin: 5px 0 20px 0;
  width: 100%;
}

.mainTextNatsAdd {
  margin: 0 0 10px 0;
  min-width: 150px;
}

.formLabelNatsAdd {
  min-width: 145px;
}

.buttonRowNatsAdd {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 27.5%;
}

.formInputNatsAdd {
  width: 400px;
}

.formInputNatsAddDescription {
  height: 100px;
}

.secondaryButtonLinkNatsAdd {
  margin: 0px 10px 0px 0%;
  width: 50%;
}

.secondaryButtonNatsAdd {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.primaryButtonNatsAdd {
  margin: 0px 0% 0% 0%;
  height: 100%;
  width: 50%;
}

.errorTextNatsAdd {
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: #fa003b;
  margin: 0px 0px 20px 0px;
}
